.columna {
    cursor: pointer; /*ayudar a que sepan que deben hacer click*/
}
/* Estilos para animar como me gustó.
Si quiero que todo se muestre y esconda junto,
debo cambiar el código en acordeon.js y
colocar height:0 para .badges-contenedor también*/
.badges-contenedor,
.descripcion-trayectoria {
    margin: 0;
    overflow: hidden;
    transition: all .7s ease;
}
.descripcion-trayectoria {
    height: 0;
}
