/* - Projects - */

.recent-projects {
    padding: 40px;
    margin: 20px 0 40px 0;
}
.section-projects {
    margin: 25px 0;
}

/*new*/

.displayer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 430px;
    transition: .6s ease;
    margin: auto;
}
.project-image {
    height: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
}
.project-image:first-child {
    border-radius: 12px 12px 0 0;
    height: 100px;
}
.project-image:last-child {
    border-radius: 0 0 12px 12px;
}
.project-image:hover {
    cursor: pointer;
    height: 210px;
    filter: contrast (120%);
}
.project-image:hover not .project-image:first-child {
    height: 0;
}


/* - Sweet Alert - */

.swal-overlay {
    background-color: rgba(255,255,255,.5);
}
.swal-text {
    text-align: center;
    font-weight: bold;
}
.swal-modal {
    background-color: rgb(178, 201, 243);
}

@media screen and (max-width:1200px) {
    .displayer {
        max-width: 800px;
    }
}
@media screen and (max-width:768px) {
    .project-image:hover {
        cursor: pointer;
    } 
}
