/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* NavBar */

.navbar {
    padding: 2rem;
    position: sticky;
    top: 0;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    margin-left: 25px;
    margin-right: 25px;
}
#profile {
    width: 200px;
    height: 200px;
    filter: drop-shadow(0 25px 10px rgba(0,0,0,0.5));
}

/* Estilos Generales */

* {
    font-family: 'Poppins', sans-serif;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2.5rem;
}
.texto-cursiva {
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    color: #aeaeae;
}
.seccion-titulo {
    text-align: center;
    font-size: 3.2rem;
    margin: 5rem 0;
}
.boton-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}
.creditos {
    font-size: 15px;
    color: #bebebe;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

/* Footer */

.pie {
    margin: auto;
    margin-top: 5rem;
    border-top: 1px solid black;
    padding: 30px 0;
    max-width: 800px;
}
.footer-contact {
    margin: auto;
    padding-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #111;
}
.footer-contact:hover {
    color: #111;
}
.footer-contact::after {
    display: block;
    content: "";
    margin: auto;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}
.footer-contact:hover::after {
    color: #111;
    width: 85%;
}
.iconos-redes-sociales {
    align-items: center;
    justify-content: center;
}
.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    text-decoration: none;
    color: #111;
    transition: all 0.2s ease-in;
}
.social-contact i {
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.social-contact:hover {
    background-color: black;
    border: 2px solid #dfdfdf;
}
.social-contact:hover i {
    color: #dfdfdf;
}
.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 837px) {
    #profile {
        height: 132.5px;
        width: 132.5px;
    }
}
@media screen and (max-width: 767px) {
    #profile {
        display: none;
    }
}